<div class="container">

    <div class="itemleft">
        <img class="leftImage" src='{{pipeDetails.url}}' alt="">
        <button *ngIf="!isEnrolled && isLoggedIn" mat-raised-button color="primary"
            (click)="clickOnEnroll()">Enroll</button>
        <button *ngIf="isEnrolled && isLoggedIn" mat-raised-button color="primary"
            (click)="clickOnUnEnroll()">UnEnroll</button>
        <div *ngIf="!isLoggedIn">Login / Register to Enroll</div>
    </div>
    <div
        [ngClass]="{'itemRight': isEnrolled === true && isLoggedIn === true, 'itemRightUnclick' : isEnrolled === false || isLoggedIn === false}">
        <div *ngFor="let module of allModules" class="itemRightModule">
            <div *ngIf="module.category=='youtube'" class="youtubeModule">
                <div class="itemYoutubeModuleLeft" (click)="onClickYoutube(module.link)">

                    <div class="itemYoutubeModuleLeftHeader">
                        <div class="itemYoutubeModuleLeftHeaderTitle">{{module.title}}</div>
                        <div class="itemYoutubeModuleLeftHeaderImage">
                            <img src='../../../assets/youtube.svg' alt="">
                        </div>
                    </div>

                    <!-- <div class="itemYoutubeModuleLeftHeader">{{module.title}}</div> -->
                    <div class="itemYoutubeModuleLeftRange">
                        <div class="itemYoutubeModuleLeftRange">From video {{module.rangeStart}} to {{module.rangeEnd}}
                        </div>
                        <div class="itemYoutubeModuleLeftNote">{{module.note}}</div>
                    </div>


                </div>
                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="primary"
                    (click)="editClick(module)"><mat-icon>edit</mat-icon></button>
                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="warn"
                    (click)="deleteClick(module)"><mat-icon>delete</mat-icon></button>
                <div class="itemYoutubeModuleRight">
                    <button mat-button color="primary">Add module as completed</button>
                </div>
            </div>


            <!-- for upload -->
            <div *ngIf="module.category=='upload'" class="youtubeModule">
                <div class="itemYoutubeModuleLeft" (click)="onClickUpload(module.download_link)">

                    <div class="itemYoutubeModuleLeftHeader">
                        <div class="itemYoutubeModuleLeftHeaderTitle">{{module.title}}</div>
                        <div class="itemYoutubeModuleLeftHeaderImage">
                            <img src='../../../assets/upload.svg' alt="">
                        </div>
                    </div>

                    <!-- <div class="itemYoutubeModuleLeftHeader">{{module.title}}</div> -->
                    <div class="itemYoutubeModuleLeftRange">
                        <div class="itemYoutubeModuleLeftRange"> Click to Download
                        </div>
                        <!-- <div class="itemYoutubeModuleLeftNote">{{module.note}}</div> -->
                    </div>


                </div>
                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="primary"
                    (click)="editClick(module)"><mat-icon>edit</mat-icon></button>
                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="warn"
                    (click)="deleteClick(module)"><mat-icon>delete</mat-icon></button>
                <div class="itemYoutubeModuleRight">
                    <button mat-button color="primary">Add module as completed</button>
                </div>
            </div>


            <div *ngIf="module.category=='blog'" class="youtubeModule">
                <div class="itemYoutubeModuleLeft" (click)="onClickBlog(module.link)">

                    <div class="itemYoutubeModuleLeftHeader">
                        <div class="itemYoutubeModuleLeftHeaderTitle">{{module.title}}</div>
                        <div class="itemYoutubeModuleLeftHeaderImage">
                            <img src='../../../assets/blogger.svg' alt="">
                        </div>
                    </div>

                    <!-- <div class="itemYoutubeModuleLeftHeader">{{module.title}}</div> -->
                    <div class="itemYoutubeModuleLeftRange">
                        <!-- <div class="itemYoutubeModuleLeftRange">From video {{module.rangeStart}} to {{module.rangeEnd}}</div> -->
                        <div class="itemYoutubeModuleLeftNote">{{module.note}}</div>
                    </div>
                </div>

                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="primary"
                    (click)="editClick(module)"><mat-icon>edit</mat-icon></button>
                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="warn"
                    (click)="deleteClick(module)"><mat-icon>delete</mat-icon></button>

                <div class="itemYoutubeModuleRight">
                    <button mat-button color="primary">Add module as completed</button>
                </div>
            </div>


            <div *ngIf="module.category=='course'" class="youtubeModule">
                <div class="itemYoutubeModuleLeft" (click)="onClickCourse(module.link)">

                    <div class="itemYoutubeModuleLeftHeader">
                        <div class="itemYoutubeModuleLeftHeaderTitle">{{module.title}}</div>
                        <div class="itemYoutubeModuleLeftHeaderImage">
                            <img class="itemYoutubeModuleLeftHeaderImageforCourse" src='../../../assets/courses.svg'
                                alt="">
                        </div>
                    </div>

                    <!-- <div class="itemYoutubeModuleLeftHeader">{{module.title}}</div> -->
                    <div class="itemYoutubeModuleLeftRange">
                        <!-- <div class="itemYoutubeModuleLeftRange">From video {{module.rangeStart}} to {{module.rangeEnd}}</div> -->
                        <div class="itemYoutubeModuleLeftNote">{{module.note}}</div>
                    </div>
                </div>

                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="primary"
                    (click)="editClick(module)"><mat-icon>edit</mat-icon></button>
                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="warn"
                    (click)="deleteClick(module)"><mat-icon>delete</mat-icon></button>

                <div class="itemYoutubeModuleRight">
                    <button mat-button color="primary">Add module as completed</button>
                </div>
            </div>



            <div *ngIf="module.category=='live'" class="youtubeModule">
                <div class="itemYoutubeModuleLeft">

                    <div class="itemYoutubeModuleLeftHeader">
                        <div class="itemYoutubeModuleLeftHeaderTitle">{{module.title}}</div>
                        <div class="itemYoutubeModuleLeftHeaderImage">
                            <img class="itemYoutubeModuleLeftHeaderImageforLive"
                                src='../../../assets/live-broadcast.svg' alt="">
                        </div>
                    </div>

                    <!-- <div class="itemYoutubeModuleLeftHeader">{{module.title}}</div> -->
                    <div class="itemYoutubeModuleLeftRange">
                        <!-- <div class="itemYoutubeModuleLeftRange">From video {{module.rangeStart}} to {{module.rangeEnd}}</div> -->
                        <div class="itemYoutubeModuleLeftNote">{{module.note}}</div>
                    </div>
                </div>

                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="primary"
                    (click)="editClick(module)"><mat-icon>edit</mat-icon></button>
                <button *ngIf="pipeDetails.author === localStorageUserInfo.email" mat-button color="warn"
                    (click)="deleteClick(module)"><mat-icon>delete</mat-icon></button>

                <div class="itemYoutubeModuleRight">
                    <button mat-button color="primary">Add module as completed</button>
                </div>

            </div>




        </div>
    </div>
</div>