<p>
  <mat-toolbar color="primary" style="cursor: pointer;">
    <span
      style="
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px;
        color: black;
      "
      routerLink="/"
      ><span style="padding: 5px">TubePipe</span></span
    >
    <span class="example-spacer"></span>
    <div class="login-signup">
      <div *ngIf = "logged_in; else elseBlock">
        <button mat-button routerLink="/enrol">Enroll</button>
        <button mat-button routerLink="/create">Create</button>
        <button mat-button routerLink="/signup">Logout</button>
      </div>
      <ng-template #elseBlock>
        <button mat-button routerLink="/login">Login</button>
        <button mat-button routerLink="/signup">Signup</button>
      </ng-template>
    </div>
  </mat-toolbar>
</p>
