<p>
  <mat-toolbar color="primary">
    <span
      style="
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px;
        color: black;
      "
      ><span style="padding: 5px">TubePipe</span></span
    >
    <span class="example-spacer"></span>
    <div class="login-signup">
      <button mat-button routerLink="/create">Create</button>
      <button mat-button routerLink="/enrol">Enrol</button>
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/signup">Signup</button>
    </div>
  </mat-toolbar>
</p>
