<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Angular Course </mat-card-title>
    <mat-card-subtitle>Created by <strong>Atik Shahriar Anik</strong></mat-card-subtitle>
    <img
      mat-card-sm-image
      src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
    />
  </mat-card-title-group>
  <mat-card-content>
    {{ longText }}
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-button><mat-icon>thumb_up_alt</mat-icon><span>10</span></button>
    <button mat-button><mat-icon>thumb_down_alt</mat-icon><span>1</span></button>
    <button mat-button><mat-icon>share</mat-icon></button>
  </mat-card-actions>
</mat-card>
<br>
